*{
    margin: 0;
    padding: 0;
    
    
}

body{
    background: linear-gradient(to right, #333333, #dd1818);
    
}

.main{
    background-color: rgb(183, 182, 186);
    color: #fff;
    height: auto;
    width: 270px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
   
    opacity: .75;
}

.btn{
    cursor: pointer;
    height: auto;
    width: 40px;
    margin: 0px 6px;
   
    
}

.form-control{
    text-align: right;
}